<!DOCTYPE html>
{% extends 'my_app/base.html'%}
{% load staticfiles %}


{% block body_block %}
{%if is_registered%}

<div class="container">
  <div class="jumbotron">
    <h2>Thanks for registering</h2>
  </div>



</div>
{% else %}
<div class="container">
  <h2>Register Here</h2>
  <form enctype="multipart/form-data"  method="post">
      {% csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}
<input type="submit" class = "btn btn-primary" value="Send">
  </form>
</div>
{% endif %}
{% endblock %}
